body{

    background-image: url('https://drive.google.com/thumbnail?id=19eHSR9C-SloyfPSzYDVe-po3j-iwJtBw');
    background-repeat: repeat;
}

#main {
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 50px;
      border-radius: 20px;
  }


#movie-search{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.flexbox {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

#logo-netflix{
    margin-top: 4rem;
}

[type="checkbox"]+span:not(.lever) {
    display: inherit;
}

#page-title{
    margin-top: 0rem;
}

.mov-poster {
    width: 200px;
    height: 300px;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 10%), 0 6px 10px 0 rgb(0 0 0 / 7%), 0 1px 18px 0 rgb(0 0 0 / 6%);
}

.r {
    margin-top: 1rem;
}

.mov-header {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -0.02rem;
    border-top: solid 2px #26a69a;
    border-bottom: solid 2px #26a69a;
    padding: .3rem 0rem;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1430px) {
    #bored-title {
        width: 100%
    }
}

@media (min-width: 601px) and (max-width: 1010px){
.row .col.m4 {
    width: 50%;
}
}

@media (max-width: 601px) {
.mov-desc, .mov-desc-t {
    height: 100px;
}
}

@media (min-width: 602px) {
.mov-desc-t {
    height: 200px;
}
}


.row .col.s4 {
    width: 27.333333%;
}

.no-mb {
    margin-bottom: 0;
}

#logo {
    height: 55px;
    margin-top: 10px;
  }
  
  #active-page {
    border-bottom: solid 2px white;
  }

 /* Fixed issue for the iPhone X display */

  @media (max-width: 430px){
  [type="checkbox"]+span:not(.lever) {
    font-size: 12px;
  }
}