#main{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
    border-radius: 20px;
  }

input [type="checkbox"]
{
    align-self: middle;
}

.mgn-b {
  margin-bottom: 3rem;
  line-height: 1.5;
}

.cb-content {
  text-align: left;
  max-width: 900px;
}

a {
  cursor: pointer;
}

#modal1 {
  overflow: inherit;
}

.modal-content {
  text-align: left;
  padding: 2rem 3rem!important;
  line-height: 1.8;
}

div.cb-content p {
  padding-left: 3rem;
  padding-right: 3rem;
}

[type="checkbox"]+span:not(.lever) {
  display: inherit;
}

footer {
  height: 110px; 
  width:100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

html, body {
height: 100%;
background-image: url('https://drive.google.com/thumbnail?id=19eHSR9C-SloyfPSzYDVe-po3j-iwJtBw');
background-repeat: repeat;
}

#holder {
  min-height: 100%;
  position:relative;
}

.height {
  padding-bottom: 140px;
}

#logo {
  height: 75p;
  margin-top: 10px;
}