body{

    background-image: url('https://drive.google.com/thumbnail?id=19eHSR9C-SloyfPSzYDVe-po3j-iwJtBw');
    background-repeat: repeat;
}

#main {
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 50px;
      border-radius: 20px;
  }


#movie-search{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.flexbox {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
/* 
label{  
    left: 50%;
  }  */

#logo-netflix{
    margin-top: 4rem;
}

[type="checkbox"]+span:not(.lever) {
    display: inherit;
}

#page-title{
    margin-top: 0rem;
}